.map {
    width: 930px;
    height: 500px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.map iframe {
    display: block;
    width: 100%;
    height: 320px;
    margin-top: 25px;
}

.map h2{
    font-family: 'Noto Serif JP', serif;
}